body, html {
    background: url(http://bootstraptema.ru/images/bg/bg-1.png);
}

#main {
    background-color: #f2f2f2;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 4px solid #ddd;
}

#real-estates-detail #author img {
    /*-webkit-border-radius: 100%;*/
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    /*border-radius: 100%;*/
    border: 5px solid #ecf0f1;
    margin-bottom: 10px;
}

#real-estates-detail .sosmed-author i.fa {
    width: 30px;
    height: 30px;
    border: 2px solid #bdc3c7;
    color: #bdc3c7;
    padding-top: 6px;
    margin-top: 10px;
}

.panel-default .panel-heading {
    background-color: #fff;
}

#real-estates-detail .slides li img {
    height: 450px;
}

table.table {
    width: 100%;
}

.table th, .table td {
    text-align: left;
    padding: 0.25em;
}

.table tr {
    border-bottom: 1px solid #DDD;
}

td.edit-buttons {
    text-align: right;
}

button {
    border-radius: 3px;
    border: none;
    margin: 0 0.25em;
    transition: all 0.3s;
}

button:hover {
    box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
    opacity: 0.9;
}

button.edit {
    background: #6F9;
}

button.delete {
    background: #F69;
}

@media screen and (max-width: 800px) {
    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        border: 1px solid rgba(3, 3, 3, 0.2);
    }

    td, th {
        flex: 1 1 150px;
        border: 0.5px solid rgba(3, 3, 3, 0.2);
    }

    td.edit-buttons, td.empty {
        /*flex: 1 0 90%;
        text-align: center;*/
    }
}

#real-estates-detail #author img {
    width: 100%;
}

.profile-photo {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: self-start;
}

.profile-photo img {
    cursor: pointer;
    padding: 1%;
    max-width: 25%;
}

div.comment-list {
    display: block;
    margin-bottom: 35px;
}

div.comment-block {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

div.comment-name {
    margin-bottom: 5px;

}
div.comment-name a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-bottom: 1px solid darkgrey;
}

div.comment-name span {
    float: right;
    font-size: 10px;
    color: #8a8a8a;
}
div.comment-text {
    margin-left: 10px;
}

div.bottom {
    margin-bottom: 5px;
}
