body {
    top: 0 !important;
}

.filter {
    /*display: flex;*/
    /*justify-content: space-around;*/
    margin: 20px;
    text-align: center;
}

.list {
    height: 100%;
}

.list a {
    display: block;
}

.list li {
    border: 1px solid #ccc;
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: 0 10px 10px 0;
    /*border: 1px solid grey;*/
}

.li-img {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    padding-right: 1em;
}

.li-img img {
    display: block;
    width: 100%;
    height: auto;
}

.li-text {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}

.li-head {
    margin: 0;
}

.li-sub {
    margin: 0;
}

.input-group {
    margin-left: 10%;
    width: 80%;
}

@media all and (min-width: 45em) {
    .list li {
        float: left;
        width: 50%;
    }
}

@media all and (min-width: 75em) {
    .list li {
        width: 32.33333%;
    }
}

/*  HEADER  */

.header-fixed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 96px;
    color: #ffffff;
    box-sizing: border-box;
    top: -100px;
    margin-bottom: 15px;

    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}

.header-fixed .header-limiter {
    /*max-width: 1200px;*/
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder {
    height: 80px;
    display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.header-fixed .header-limiter h1 span {
    color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-fixed .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 54px;
    float: right;
}

.header-fixed .header-limiter nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover {
    opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
    color: #608bd2;
    /*pointer-events: none;*/
    opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
    padding: 10px 40px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

body.fixed .header-fixed-placeholder {
    display: block;
}

body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 13px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

    .header-fixed {
        padding: 20px 0;
        height: 82px;
    }

    .header-fixed .header-limiter h1 {
        float: none;
        margin: -8px 0 10px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }

    .header-fixed .header-limiter nav {
        line-height: 1;
        float: none;
    }

    .header-fixed .header-limiter nav a {
        font-size: 13px;
    }

    body.fixed .header-fixed {
        display: none;
    }

}

/* FOOTER */

.fixed-bottom {
    margin-top: 80px;
    background-color: #292c2f;
}
.footer-basic-centered {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    position: relative;
    bottom: 0;
}

.footer-basic-centered .footer-company-motto {
    color: #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-basic-centered {
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto {
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name {
        font-size: 12px;
    }

}

/* Ruslan style */
.btn-primary {
    background-color: #292c2f !important;
    border: none !important;
}

.btn-primary:hover {
    background: #5e5e5e;
}

div.login-with {
    margin-top: 15px;
}
div.login-with p {
    margin: 13px 0;
    font-size: 17px;
}

div.login-with a {
    background: none;
    border: none;

}
div.login-with a img {
    width: 50px;
}

div.login-with span.intra {
    margin-right: 20px;
}

div.login-with span.fb a img {
    width: 36px;
}

div.login-with a:hover {
    border: #000000;
}
div.input-group {
    margin: 0;
    width: 100%;
}

/* LOADER */
.loader {
    position: relative;
    bottom: 0;
    display: none;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #5a5a5a;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 43%;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.to-top {
    display: none;
    opacity: 0.4;
    width: 60px;
    height: 60px;
    right: 30px;
    bottom: 50px;
    padding: 5px;
    cursor: pointer;
    position: fixed;
    z-index: 99999999;
    border-radius: 5px;
    transition: all 1s;
    background-image: url("/public/image/totop.png");
    background-size: 60px 60px;
}

.to-top:hover {
    opacity: 1;
}

iframe.goog-te-banner-frame {
    display: none!important;
}
div#goog-gt-tt {
    display: none!important;
}

div.goog-te-gadget-simple {
    background-color: inherit;
    float: right;
    margin: 10px 0 0 5px;
}

div.goog-te-gadget-simple img {
    display: none;
}

div.goog-te-gadget-simple a {
    line-height: 25px;
}

div.goog-te-gadget-simple a span {
    margin: 0 2px;
}

div.video-player-min {
    width: 150px;
    height: 20px;
    color: #fff;
    cursor: pointer;
    border: 1px #fff solid;
    margin: 20px 40px;
    background-color: #2b542c;
}

.my-fixed {
    position: fixed;
}

.custom-select {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: #292c2f;
    /*background-color: DodgerBlue;*/
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    /*background-color: DodgerBlue;*/
    background-color: #292c2f;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.input-group .form-control {
    z-index: 0 !important;
}